{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}"> 
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <title>PrincessBLOG</title>
</head>

<body>
    {% include 'navbar.html'%}
    <div class="main-container">
        <div class="most-view-post">
            <div class="container">
                <div class="most-view-post-description">
                    <a href="{% url 'post' %}/{{mtopic.name}}/{{most_view_post.board_id}}">
                        <h3>{{ most_view_post.title }}</h3>
                        <p>{{ most_view_post.content|remove_html_tags }}</p>
                    </a>
                    <button><a href="{% url 'post' %}/{{mtopic.name}}/{{most_view_post.board_id}}">Read More</a></button>
                </div>
                <div class="post-image">
                    <a href="{% url 'post' %}/{{mtopic.name}}/{{most_view_post.board_id}}">
                        {% comment %} <img src="{% static '/img/abc.png' %}"> {% endcomment %}
                        <img src="{{ most_view_post.content|extract_first_image_tag }}" onerror="this.onerror=null;this.src='{% static '/img/x.png' %}'">
                    </a>
                </div>
            </div>
        </div>
        <div class="postlist-container">
            <div class="postlist">
                {% for post in posts reversed %}
                    {% if post.topic.name == request.GET.topic %}
                        <div class="card">
                            <a href="{% url 'post' %}/{{post.topic.name}}/{{post.board_id}}">
                                <div class="card-thumbnail-img">
                                    {% comment %} <img src="{% static '/img/abc.png' %}"> {% endcomment %}
                                    <img src="{{ post.content|extract_first_image_tag }}" alt="이미지 없음" onerror="this.onerror=null;this.src='{% static '/img/x.png' %}'">
                                </div>
                                <div class="card-info-box">
                                    <p id="postlist-date"> {{post.write_date|date:"Y년 m월 d일 H:i"}}</p>
                                    <h3 id="postlist-title">{{post.title}}</h3>
                                    <p id="postlist-content">{{post.content|remove_html_tags}}</p>
                                </div>
                            </a>
                        </div>
                    {% elif not request.GET.topic %}
                        <div class="card">
                            <a href="{% url 'post' %}/{{post.topic.name}}/{{post.board_id}}">
                                <div class="card-thumbnail-img">
                                    {% comment %} <img src="{% static '/img/abc.png' %}"> {% endcomment %}
                                    <img src="{{ post.content|extract_first_image_tag }}" alt="이미지 없음" onerror="this.onerror=null;this.src='{% static '/img/x.png' %}'">
                                </div>
                                <div class="card-info-box">
                                    <p id="postlist-date"> {{post.write_date|date:"Y년 m월 d일 H:i"}}</p>
                                    <h3 id="postlist-title">{{post.title}}</h3>
                                    <p id="postlist-content">{{post.content|remove_html_tags}}</p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <p>Copyright 2023</p>
        </div>
    </div>
</body>

</html>