{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}"> 
    <link href="https://fonts.cdnfonts.com/css/quicksilver" rel="stylesheet">
    <title>PrincessBLOG</title>
</head>

<body>
    {% include 'navbar.html'%}
    <div class="main-container">
        <div class="most-view-post">
            <div class="most-view-post-description">
                <a href="{% url 'post' %}">
                    <h1>{{ most_view_post.title }}</h1>
                    <p>{{ most_view_post.content }}</p>
                </a>
                <button><a href="{% url 'post' %}">Read More</a></button>
            </div>
            <div class="post-image">
                <a href="{% url 'post' %}">
                    <img src="{{ most_view_post.image }}" alt="image">
                </a>
            </div>
        </div>
        <div class="postlist-container">
            <div class="postlist">
                {% for post in posts %}
                    <a href="{% url 'post' %}">
                        <div>
                            <img src="{{ post.image }}" alt="image">
                        </div>
                        <div>
                            <p id="postlist-date"> {{post.write_date}}</p>
                            <h3 id="postlist-title">{{post.title}}</h3>
                            <p id="postlist-content">{{post.content}}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'footer.html'%}
</body>

</html>