{% load static %}
<div class="navbar-container">
    <div class="navbar">
        <a href="{% url 'index' %}">
        <div class="title"> 
            <img src="{% static 'img/logo.png' %}" alt="logo">
            {% comment %} <a href="{% url 'index' %}"><h1 class="h1_on_img">PrincessBLOG</h1></a> {% endcomment %}
        </div>
        </a>
        <div class= "navbar-menu">
            <div class="topics">
                <ul>
                    {% for topic in topics %}
                        <li><a href="{% url 'index'%}?topic={{topic.name}}">{{topic.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <div class="login-button">
                            <button class="logout-button">로그아웃</button>
                        </div>
                    </a>
                    <a href="{% url 'post_write' %}">
                        <div class="login-button">
                            <button>Just Write!</button>
                        </div>
                    </a>
                {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}"> {% comment %} 로그인을 누른 페이지로 리다이렉트 {% endcomment %}
                    <div class="login-button">
                        <button>로그인</button>
                    </div>
                </a>
                {% endif %}
        </div>
    </div>
</div>