{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html'%}
    <div class="write-main-container">
        <form method="post" enctype="multipart/form-data">
            <div class="write-main">
                {% csrf_token %}
                <input type="text" name="title" placeholder="제목"></input>
                <script src="https://cdn.tiny.cloud/1/cig4n9ujjp5wqsgk6jqk8pcfi03mazpxf0hb3h3tz9129744/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>               
            </div>
        <div class="write-menu">
            <div>
                <img src="{% static 'img/robot.svg' %}" alt="robot">
                <h3>AI 글 자동완성</h3>
            </div>
            <div>
                <h3>TOPIC</h3>
                {% for topic in topics %}
                    <input type="radio" name="{{topic.id}}">{{topic.name}}</input>
                {% endfor %}
            </div>
            <div>
                <h3>UPLOAD INFO</h3>
                {% if is_upload %}
                    <p>상태: 미게시</p>
                {% else %}
                    <p>상태: 게시됨</p>
                {% endif %}
                {% comment %} 임시저장 기능 필요 {% endcomment %}
                <button type="submit">글 작성</button>

            </div>
        </div>
        </form>
    </div>


    {% include 'footer.html'%}
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>