{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet" />
    <link href="{% static 'css/post_base.css' %}" rel="stylesheet" />
    
    <link href="https://fonts.cdnfonts.com/css/quicksilver" rel="stylesheet">
    {% block static%}
    {% endblock %}
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="navbar-container">
            <div class="title">
                <img src="{% static 'img/logo_white.svg' %}" alt="logo">
                <h1 class="h1_on_img">MYLOG</h1>
            </div>

            <div>
                <ul class="navbar-main-menu">
                    <li><a href="#">일상</a></li>
                    <li><a href="#">요리</a></li>
                    <li><a href="#">여행</a></li>
                    <li><a href="#">영화</a></li>
                    <li><a href="#">IT</a></li>
                </ul>

                <div class="navbar-actions-container">
                    <button class="login_btn" login_btn>Logout</button>

                    <button class="write_btn">Just Write!</button>
                </div>
            </div>
        </div>
    </nav>


    <div class="content-container">
        <div class="main-container">
            {% block content %}
            {% endblock %}
        </div>
    </div>




    <footer>

        
    </footer>

    {% block javascript %}
    {% endblock %}
</body>

</html>