body {
    background: #F9F8F4;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 105px;
}

.title {
    position: relative;
}

.title > img{
    width: 180px;
    height: 70px;
    flex-shrink: 0;
}


.h1_on_img {
    position: absolute;
    top: 18px;
    left: 50px;
    right: 41px;
    color: #F9F8F4;
    text-align: center;
    font-family: Quicksilver;
    font-size: 25px;
    font-style: normal;
    letter-spacing: -1.4px;
}


.navbar-main-menu  > li > a {
    color: #1E1E1E;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.navbar-main-menu {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding-right: 50px;
}


.navbar-actions-container {
    display: inline-flex;
    gap: 40px;
}

.login_btn {
    cursor: pointer;
    color: #1E1E1E;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    background-color: transparent;
}

.write_btn {
    cursor: pointer;
    width: 100px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: #1E1E1E;
    border: 0;

    color: #F9F8F4;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content-container {
    display: flex;
    justify-content: space-around;
}

.main-container {
    position: relative;
    display: flex;
    height: calc(100vh - 105px);;
    width: 70%;
    
}

footer {
    display: flex;
    height: 200px;
    background: #E7E3DA;
}