* {
    font-family: 'Noto Sans KR', sans-serif;
 }

body{
    margin: 0;
}

.messages{
    margin-top: 100px;
}

.post-content-container{
    display: flex;
    flex-direction: column;
    flex: 0.7;
    padding: 0 20px;
}


.post-title-container {
    display: flex;
    height: 41px;
    padding: 5px 20px;
    align-items: center;
    gap: 10px;
    border: 1px solid #FFF;
    background: whitesmoke;
    margin-bottom: 18px;
    border-radius: 20px;
}

#postform{
    background-color: white;
    display: flex;
    padding: 54px 0px;
    justify-content: center;
    margin-top: 104px;
}


.post-edit-container {
    flex: 1;
}

.title img{
    width: 190px;
    left: 10%;
    position: fixed;
    top: 1%;
}


.post-controller-container {
    display: flex;
    flex-direction: column;
    width: 264px;
    gap: 10px;
    
}

.post-controller-container > div{
    border-radius: 2px;
    border: 1px solid #CAC8C5;
    height: fit-content;
}


.post-ai-container {
    cursor: pointer;
    padding: 16px;
    gap: 10px;
    flex-shrink: 0;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.post-topic-container {
    display: flex;
    height: 175px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.post-topic-container > * {
    color: #000;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 500;
}

.post-topic-container > p {
    font-size: 16px;
    margin: 0;
}

.post-topic-container > div > label {
    font-size: 12px;
}

.post-upload-container  > div > p:first-child {
    font-size: 16px;
    margin: 0px 0 10px 0
}
.post-upload-container  > div > p {
    font-size: 13px;
}

.post-info-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}


.post-upload-container > div > p > label{
    text-decoration: underline;
}




.post-submit-container {
    padding: 0px 20px 15px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}


.post-submit-container > label {
    text-decoration: underline;
}




.post-submit-container > div {
    display: flex;
    flex: 1;
    height: 20px;
    padding: 4px 17px;
    justify-content: center;
    align-items: center;
    
}

.temp-btn{
    border-radius: 2px;
    border: 1px solid #1E1E1E;
}

.temp-btn > p {
    color: #1E1E1E;
    font-family: Pretendard;
    font-size: 13px;
}




.save-btn {
    border-radius: 2px;
    background: #1E1E1E;
}

.save-btn > p {
    color: #FFF;    
    font-family: Pretendard;
    font-size: 13px;
}





    




.post-title-container > input::placeholder {
    color: #BFBFBF;
    font-weight: bold;
  }

.post-title-container > input {
    display: flex;
    flex: 1;
    text-align: left; 
    border: none;
    outline: none;
    background: whitesmoke;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#image_input {
    display: none;
}