*{
    font-family: 'Noto Sans KR', sans-serif;
}

.title img{
    width: 10%;
    left: 10%;
    position: fixed;
    top: 1%;
}

body{
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    height: 105px;
    width: 100%;
    background: #1e1e1e;
    z-index: 999;
    color: #f9f8f4;
    justify-content: space-around;
    position: fixed;
    top: 0;
    text-decoration: none;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 38px;
}


a:link {
    color : #f9f8f4;
    text-decoration: none;
}
a:visited {
    color : #f9f8f4;
    text-decoration: none;
}
a:hover {
    color : #f9f8f4;
    text-decoration: none;
}
a:active {
    color : #f9f8f4;
    text-decoration: none;
}
  
button{
    cursor: pointer;
    all: unset;
}
button:hover{
    cursor: pointer;
}

.login-button {
    display: inline-block;
    background-color: #f9f8f4;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 10px 25px;
    color: black;
  }

  .login-button:hover {
    background-color: #696969;
    transition: transform 0.8s,  background-color 0.3s;
    color: #ffffff;
  }

  .logout-button:hover{
    color: rgb(255, 162, 162);
    transition: transform 0.8s,  color 0.3s;
  }

  .login-button > a {
    color: black;
  }

.title{
    display: flex;
    align-items: center;
}



.topics {
    display: flex;
}

.topics > ul {
    display: flex;
    gap: 47px;
    list-style: none;
    padding-right: 40px;
}




/* 상단 포스트 스타일 */


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 104px;
  }
  
  /* 상단박스 */
  .most-view-post {
      background-color: #1e1e1e;
      height: 520px;
      color: #fff;
      font-family: 'Pretendard', sans-serif;
  
  }
  
  .most-view-post h3{
      font-size: 48px;
      font-weight: 700;
      margin: 0;
      line-break: anywhere;
  }
  
  .most-view-post p{
      font-weight: 300;
      width: 80%;
      margin-bottom: 10px;
      display: -webkit-box;
      line-break: anywhere;
      -webkit-line-clamp : 3;
      overflow: hidden;
      -webkit-box-orient: vertical;
  }
  
  .most-view-post .container{
      display: flex;
      flex-direction: row; 
      justify-content: space-around;
      align-items: center;
      height: 415px;
      margin-top: 50px;
  }

  .post-image:hover {
    transform: scale(1.1);
    transition: 0.5s;
    overflow: hidden;
  }

  
  .most-view-post .container .most-view-post-description{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    gap: 8px;
    position: absolute;
    color: #fff;
    z-index: 1;
    height: auto;
    left: 19%;
    width: 40%;
    line-height: 2;
  }

  
  .most-view-post button{
      background-color: #3a3a3a;
      color: #f9f8f4;
      border-radius: 2px;
      padding: 8px 18px;
      width: fit-content;
      font-size: 14px
  }
  
  .most-view-post button:hover{
      background-color: #474747;
      transition: transform 0.8s;
  }
  
  .most-view-post .container .post-image {
      opacity: 0.3;
      height: -webkit-fill-available;
      position: relative;
      left: 14%;
  }
  
  .most-view-post .container .post-image img{
      object-fit: cover;
      min-width: 600px;
      min-height: -webkit-fill-available;
      width: 100%; 
      height: 100%; 
  }




/* 하단 박스 스타일 */
.postlist-container {
    background-color: #f9f8f4;
    display: flex;
    padding: 54px 0px;
    justify-content: center;
}

.postlist {
    width: 64%;
    margin: 0;    
    display: flex;
    gap: 60px; 
    flex-wrap: wrap; 

}



.card{
    width: calc((100% - (2 * 60px)) / 3); 
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    transition: transform 0.8s, box-shadow 0.3s, background-color 0.3s;
}


.card-info-box {
  display: flex;
  flex-direction: column;
  height: 160px;
  color: #1e1e1e;
  font-family: 'Pretendard', sans-serif;
  padding: 5px
}


h3 {
    font-family: 'Pretendard', sans-serif;
  font-size: 20px;
  margin-bottom: 8px;
}
.card-info-box h3{
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-break: anywhere;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 표시할 줄 수 */
    -webkit-box-orient: vertical;
}

.card-info-box p {
  display: -webkit-box;
  font-size: 14px;
  margin-bottom: 8px;
  -webkit-line-clamp : 2;
  line-break: anywhere;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.sub-info {
  color: #7c7c7c;
  display: flex;
  gap: 20px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #111;
}

.card-thumbnail-img {
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
  }
  
  .card-thumbnail-img img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



/* 풋터 스타일 */


.footer{
    width: 100%;
    background-color: #e7e3da;
    height: 200px;
    display: flex;
    justify-content: end;
    font-family: 'Pretendard', sans-serif;
}

.footer .container{
    align-items: self-end;
    display: flex;
    margin-right: 18%;
}

.footer .container p{
    color: #1e1e1e;
    justify-content: end;
}

span{
    font-weight: bold;
}


.footer {
    width: 100%;
    background-color: #e7e3da;
    height: 200px;
    display: flex;
    justify-content: end;
    font-family: 'Pretendard', sans-serif;
}

.footer .container {
    align-items: self-end;
    display: flex;
}

.footer .container p {
    color: #1e1e1e;
    justify-content: end;
}

span {
    font-weight: bold;
}